{% extends 'sls/base.html' %}

{% block header %}
  <h2>{{ vaccine }}</h2>

{% endblock header %}

{% block content %}


  <p>Entries:</p>
  <p>
  	<a href="{% url 'sls:new_entry' vaccine.id %}">add new stock entry</a>
  </p>
  <ul>
  	{% for entry in entries %}
  	  <div class="panel panel-default">
        <div class="panel-heading">
          <h3>
      	  	<p>Stock Balance: {{ entry.stock_balance }}</p>
      	  	<p>Stock Order: {{ entry.stock_order }}</p>
      	  	<p>Stock Adjustment, DVS: {{ entry.stock_adjustment_dvs }}</p>
      	  	<p>Stock Adjustment, NMS: {{ entry.stock_adjustment_nms }}</p>
  	  	    <small>
  	  		    <a href="{% url 'sls:edit_entry' entry.id %}">edit entry</a>
  	  	    </small>
          </h3>  
  	    </div>
      </div> <!-- panel -->  
  	{% empty %}
  	  <li>
  	  	There are no entries for this vaccine yet.
  	  </li>
  	{% endfor %}
  </ul>

{% endblock content %}