{% extends 'sls/base.html' %}

{% block content %}

  <p> Vaccine or Device: {{ vaccine }}</p>

  <p>Entries:</p>
  <p>
  	<a href="{% url 'sls:new_entry' vaccine.id %}">add new stock entry</a>
  </p>
  <ul>
  	{% for entry in entries %}
  	  <li>
  	  	<p>Stock Balance: {{ entry.stock_balance }}</p>
  	  	<p>Stock Order: {{ entry.stock_order }}</p>
  	  	<p>Stock Adjustment, DVS: {{ entry.stock_adjustment_dvs }}</p>
  	  	<p>Stock Adjustment, NMS: {{ entry.stock_adjustment_nms }}</p>
  	  	<p>
  	  		<a href="{% url 'sls:edit_entry' entry.id %}">edit entry</a>
  	  	</p>
  	  </li>
  	{% empty %}
  	  <li>
  	  	There are no entries for this vaccine yet.
  	  </li>
  	{% endfor %}
  </ul>

{% endblock content %}